@charset "UTF-8";
/* Estilos para el header */
header {
  padding: 20px;
  background-color: #f8f8f8;
  /* Estilos para el menú horizontal en escritorio */
  /* Oculta el menú hamburguesa en modo escritorio */
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}
header .menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .menu ul li {
  margin-right: 20px;
}
header .menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px;
  transition: color 0.3s;
}
header .menu ul li a:hover {
  color: #007bff;
}
header .menu-activador {
  display: none;
}

/* Estilos para el menú en modo móvil */
@media (max-width: 768px) {
  .menu {
    display: none; /* Oculta el menú horizontal */
  }
  .menu-activador {
    display: block;
    position: relative;
    /* Transformación de las líneas al hacer clic */
    /* Menú desplegable */
    /* Muestra el menú desplegable cuando el checkbox está activado */
  }
  .menu-activador #lanzador {
    display: none;
  }
  .menu-activador .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .menu-activador .hamburger-icon .menu-activador-linea {
    height: 3px;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
  }
  .menu-activador #lanzador:checked + .hamburger-icon .menu-activador-linea:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-activador #lanzador:checked + .hamburger-icon .menu-activador-linea:nth-child(2) {
    opacity: 0;
  }
  .menu-activador #lanzador:checked + .hamburger-icon .menu-activador-linea:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu-activador .menu-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .menu-activador .menu-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
  }
  .menu-activador .menu-dropdown ul li {
    margin: 0;
  }
  .menu-activador .menu-dropdown ul li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
  }
  .menu-activador .menu-dropdown ul li a:hover {
    background-color: #f0f0f0;
  }
}
